*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #525e75;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1ddbf;
}

.container {
  display: flex;
  flex-direction: column;
  border: 5px solid #92ba92;
  background-color: #78938a;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  color: #525e75;
  padding: 10px;
  margin: 10px;
  background-color: #f1ddbf;
  height: 50px;
  width: 50px;
  vertical-align: top;
  border-radius: 15px;
  border: 2px solid #525e75;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outputMsg {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayBtn {
  display: block;
}

.hideBtn {
  display: none;
}

#btn {
  width: 85px;
  height: 30px;
  background-color: #f1ddbf;
  border-radius: 15px;
}

#btn:hover {
  background-color: green;
  color: white;
}
